@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.container {
  margin-bottom: $spacing-xl;
}

.searchBox {
  position: relative;
  margin-bottom: $spacing-xl;

  [class*="lucide-search"] {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    left: 18px;
  }
}

// Increase specificity to override global form styles
input[type="text"].searchInput {
  border-radius: $radius-pill;
  padding: 15px 23px 15px 53px;

  &::placeholder {
    color: $light-platinum;
  }
}

.filters {
  display: flex;
  gap: $spacing-md;
  flex-wrap: wrap;
  align-items: flex-end;
}



